#message{
    font-size: 50px;
    background-color: aqua;
}
.container{
    display: flex;
    width: 500px;
    justify-content: space-around;
    
}
.icon{
    height: 100px;
    width: 100px;
}